<div class="flex flex-col items-center justify-center p-8">
  <h2>Apply Form</h2>
  <form
    [formGroup]="applyForm"
    (submit)="formSubmitEvent()"
    class="flex flex-col items-center justify-center gap-5 p-8 m-8 border text-center rounded"
  >
    <input
      type="text"
      placeholder="Enter FirstName"
      formControlName="firstName"
      class="border-2 px-2 py-1 w-full"
    />
    <input
      type="text"
      placeholder="Enter LastName"
      formControlName="lastName"
      class="border-2 px-2 py-1 w-full"
    />
    <input
      type="email"
      placeholder="Enter Email"
      formControlName="email"
      class="border-2 px-2 py-1 w-full"
    />
    <button type="submit" class="border-2 px-2 py-1 w-full">Apply</button>
  </form>
</div>
